{%- macro control_group(label, field) %}
    <div class="control-group">
     <label class="control-label" for="{{field}}">{{label}}</label>
     <div class="controls">
      {{ caller() }}
     </div>
    </div>
{%- endmacro %}
{%- macro input(label, field, value="", alert=None, readonly=False) %}
    {% call control_group(label, field) %}
       <input type="text" name="{{field}}" placeholder="{{label}}" value="{{value}}" {{"readonly" if readonly}} autocomplete="off">
    {% endcall %}
{%- endmacro %}
{%- macro textarea(label, field, value="", placeholder="", rows=2, alert=None, readonly=False) %}
    {% call control_group(label, field) %}
       <textarea name="{{field}}" placeholder="{{placeholder}}" rows="{{rows}}" {{"readonly" if readonly}}>{{ value }}</textarea>
    {% endcall %}
{%- endmacro %}
{%- macro submit_btn(title="Submit") %}
    <div class="control-group">
     <div class="controls">
      <button type="submit" class="btn btn-primary">{{title}}</button>
     </div>
    </div>
{%- endmacro %}
